{% extends "base_tasks.html" %}
{% block stylesheet %}
{% endblock %}
{% block title %}Task App{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">
    Tasks Home
  </li>
{% endblock %}
{% block content %}
<h2>My task groups: </h2>
<div>
    <ul>
        {% for taskgroup in object_list %}
            <li>{{ taskgroup.task_group_name }} ( {{ taskgroup.description }} ) | <a
                    href="{% url 'taskgroup_update' taskgroup.pk %}">edit</a>
                    <a href="{% url 'taskgroup_delete' taskgroup.pk %}">delete</a>
            </li>
        {% empty %}
            <li>No taskgroups defined yet.</li>
        {% endfor %}

    </ul>
    <p>
      <a href="{% url 'taskgroup_add' %}">add a taskgroup</a>
    </p>
</div>

<a href="{% url 'foo' %}">Foo (under construction -- will output)</a>
{% endblock %}
