{% extends 'base_accounts.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8">
    <div class="card">
      <div class="card-body">
        <h2>Set a new password!</h2>
        <form method="POST">
          {% csrf_token %}
          <!-- {{ form.as_p }} -->
          {% include 'includes/form.html' %}
          <input type="submit" value="Change my password">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
