<a href="{% url 'login_alternate' %}">LOGIN ALTERNATE lukiepie  beehive22</a><br>

<a href="{% url 'password_change' %}">PASSWORD CHANGE  (created by auth module)</a><br>

<a href="{% url 'password_reset' %}">PASSWORD_RESET via email (created by auth module)</a><br>

<a href="{% url 'logout' %}">LOG OUT (this redirect to the home page, the username should disappear) (created by auth module)</a><br>

<a href="{% url 'signup' %}">SIGN UP</a><br>


<hr>

<a href="{% url 'logout_alternate' %}">Log out_alternate (this redirect to the home page, the username should disappear)</a><br>


<a href="{% url 'login' %}">Login (created by auth module) </a><br>

<a href="{% url 'password_change_alternate' %}">password_change just form alternate</a><br>
