<a href="{% url 'u2:new_presentation' %}">New Presentation (basic)</a><br>
<a href="{% url 'u2:new_presentation_a' %}">New Presentation_a (basic form api)</a><br>
<a href="{% url 'u2:new_presentation_diff_formats' %}">New Presentation_a (demoing diff presentation formats)</a><br>



<a href="{% url 'u2:all_presentations' %}">All Presentations (basic)</a><br>

<a href="{% url 'u2:all_presentations_list_view' %}">All Presentations (Listview)</a><br>

<a href="{% url 'u2:presentation' 1 %}">Single Presentation (basic)</a><br>
<a href="{% url 'u2:presentation_detail_view' 1 %}">Single Presentation (DetailView)</a><br>

<a href="{% url 'u2:foo' %}">Foo</a><br>


<a href="{% url 'u2:protected_view' %}">Protected View</a><br>

<a href="{% url 'u2:email' %}">Click here to send an email</a><br>
