{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}


{% block content %}



<h4>User info: {{ user.username }} {{ user.email }}  django tinker copy 1</h4>

<a href="{% url 'homeward' %}">Home</a><br>

<a href="admin/">Admin</a><br>

<a href="u2/">U2 App (A collection of Django Code Snippets)</a><br>

<a href="todo/">Todo App</a><br>

<a href="task/">Task App (uses classes, forms.py and decorators.py)</a><br>

<a href="chore/">Chore App (same as Task using functions, no forms.py or decorators.py)</a><br>

<a href="login_logout_resources/">Login and Logout Resources</a><br>
{% endblock %}
